<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Success Page</title>
  </head>
  <h1>Success Page</h1>
  <p th:text="|Hello user ${user.username}|"></p>
  <form action="/logout" method="post">
  	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  	<button type="submit">Logout</button>
  </form>
</html>